{% extends 'home/base.html' %}

{% load static %}

{% block body %}
<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
        <a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead">
            <i class="fas fa-align-left"></i>
        </a>
        <img src="{% static 'img/favicon.png' %}" class="img-fluid" style="width: 5%;height: 5%;">
        <a href="#" class="navbar-brand font-weight-bold text-uppercase text-base" style="font-family: damn;">
          Spentech Dashboard
        </a>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
            <li class="nav-item dropdown ml-auto">
                <a id="userInfo" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                    <img src="{% static 'img/default.png' %}" alt="Jason Doe" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow">
                </a>
                <div aria-labelledby="userInfo" class="dropdown-menu">
                    <a href="#" class="dropdown-item">
                        <strong class="d-block text-uppercase headings-font-family">{{user}}</strong>
                        <small>Staff</small>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                </div>  
            </li>
        </ul>
    </nav>
</header>
<div class="d-flex align-items-stretch">
{% include 'home/navbar.html' %}

{% if suppliers %}
{% include 'home/supplier.html' %}
{% endif %}

{% if inventory %}
{% include 'home/inventory.html' %}
{% endif %}

{% if checkout %}
{% include 'home/checkout.html' %}
{% endif %}

{% if transactions %}
{% include 'home/transaction.html' %}
{% endif %}

{% if report %}
{% include 'home/report.html' %}
{% endif %}

{% if listOfSuppliers %}
{% include 'home/chart.html' %}
{% endif %}

{% endblock body %}
</div>
