{% load static %}
<div class="page-holder w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
      	<section class="py-5">
      		<center>
				<h2>Inventory Details</h2>
			</center>
            <div class="row">
              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-violet"></div>
                    <div class="text">
                      <h6 class="mb-0">Total Inventory Value</h6>
                      <span class="text-gray">{{total_value}}</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-violet"><i class="fas fa-server"></i></div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <div class="flex-grow-1 d-flex align-items-center">
                    <div class="dot mr-3 bg-green"></div>
                    <div class="text">
                      <h6 class="mb-0">Total Products</h6>
                      <span class="text-gray">{{total_products}}</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-green"><i class="far fa-clipboard"></i></div>
                </div>
              </div>
            </div>
            <div class="row">
            	{% for i in inventory %}
				<div class="col-lg-12">
					<a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
						<div class="row">
							<div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
								<strong class="h5 mb-0">
									24<sup class="smaller text-gray font-weight-normal">Apr</sup>
								</strong>
								<span class="rounded-circle mx-3 my-2 my-lg-0">{{i.id}}</span>
								<h6 class="mb-0">{{i.pname}}</h6>
							</div>
							<div class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
							  	<div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">
							    	{{i.orginal_price}}
							  	</div>
							  	<span class="rounded-circle mx-3 my-2 my-lg-0">{{i.quantity}}</span>
							  	<span class="rounded-circle mx-3 my-2 my-lg-0">{{i.measurement}}</span>
							  	<span class="rounded-circle mx-3 my-2 my-lg-0">{{i.profit}}</span>
							  	<span class="rounded-circle mx-3 my-2 my-lg-0">{{i.selling_price}}</span>
							  	<span class="rounded-circle mx-3 my-2 my-lg-0">{{i.supplier}}</span>
							  	<span>
							  		<form method="POST">
										{% csrf_token %}
										<input type="hidden" name="tiddel" value="{{i.id}}">
										<button type="submit" class="btn indigo">
											DELETE
										</button>
									</form>
							  	</span>
							</div>
						</div>
					</a>
				</div>
              	{% endfor %}
              
              	<div class="col-lg-12 text-center">
                	<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger">Register a Sale</button>
                	<!-- Modal-->
	                <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
	                  	<div role="document" class="modal-dialog">
	                    	<div class="modal-content">
								<div class="modal-header">
									<img src="{% static 'img/logo.jpg' %}" class="img-fluid" style="width: 20%;height: 20%;">
									<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
								</div>
	                      		<div class="modal-body">
		                        	<form>
										<div class="form-group">
											<label>Email</label>
											<input type="email" placeholder="Email Address" class="form-control">
										</div>
										<div class="form-group">       
											<label>Password</label>
											<input type="password" placeholder="Password" class="form-control">
										</div>
										<div class="form-group">       
											<input type="submit" value="Signin" class="btn btn-danger">
										</div>
			                        </form>
	                      		</div>
		                      	<div class="modal-footer">
		                        	<button type="button" data-dismiss="modal" class="btn btn-light bg-hover-gradient-primary">Close</button>
		                      	</div>
	                   		</div>
          				</div>
           			</div>
          		</div>
        	</div>
      	</section>
	</div>
    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 text-center text-md-left text-primary">
					<p class="mb-2 mb-md-0">Spentech &copy; 2020</p>
				</div>
				<div class="col-md-6 text-center text-md-right text-gray-400">
					<p class="mb-0">Created by 
					  <a href="https://jevan.netlify.app/" class="external text-gray-400">jevan</a>
					</p>
				</div>
			</div>
		</div>
    </footer>
</div>