{% load static %}

<div id="sidebar" class="sidebar py-3">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item">
            <a href="{% url 'home' %}" class="sidebar-link text-muted active">
              <i class="o-home-1 mr-3 text-gray"></i>
              <span>Manage Supplier</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="{% url 'inventory' %}" class="sidebar-link text-muted">
              <i class="o-sales-up-1 mr-3 text-gray"></i>
              <span>Manage Inventory</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="{% url 'checkout' %}" class="sidebar-link text-muted">
              <i class="o-sales-up-1 mr-3 text-gray"></i>
              <span>Checkout</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="{% url 'transaction' %}" class="sidebar-link text-muted">
              <i class="o-sales-up-1 mr-3 text-gray"></i>
              <span>Transaction</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="{% url 'report' %}" class="sidebar-link text-muted">
              <i class="o-sales-up-1 mr-3 text-gray"></i>
              <span>Generate Report</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="{% url 'chart' %}" class="sidebar-link text-muted">
              <i class="o-sales-up-1 mr-3 text-gray"></i>
              <span>Charts</span>
            </a>
        </li>
    </ul>
</div>

