{% load static %}
<div class="page-holder w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
      	<section class="py-5">
      		<center>
				<h2 style="font-family: damn1;">Supplier Details</h2>
			</center>
            <div class="row">
            	<div class="col-lg-12">
					<div class="card">
	                  	<div class="card-header">
		                    <h6 class="text-uppercase mb-0"></h6>
	                  	</div>
	                  	<div class="card-body">                           
		                    <table class="table table-striped table-hover card-text">
		                   		<thead>
			                        <tr>
			                            <th>#</th>
										<th>Supplier Name</th>
										<th>Contact</th>
										<th>Address</th>
			                        </tr>
		                      	</thead>
		                      	<tbody>
		                      		{% for i in suppliers %}
										<tr>
											<td>{{i.id}}</td>
											<td>{{i.sname}}</td>
											<td>{{i.contact}}</td>
											<td>{{i.address}}</td>
										</tr>
									{% endfor %}
		                      	</tbody>
	                    	</table>
	                  	</div>
	             	</div>
				</div>
        	</div>
      	</section>
	</div>
    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 text-center text-md-left text-primary">
					<p class="mb-2 mb-md-0">Spentech &copy; 2020</p>
				</div>
				<div class="col-md-4 text-center text-md-right text-gray-400">
					<p class="mb-0">Created by 
					  <a href="https://jevan.netlify.app/" class="external text-gray-400">jevan</a>
					</p>
				</div>
				<div class="col-md-4 text-center text-md-right text-gray-400">
                <p class="mb-0">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              </div>
			</div>
		</div>
 	</footer>
</div>